<article>
  <!-- {{}} is one-way bnding from the model to the view -->
  <h2>Using Components {{title}}</h2>
  <p>One plus two equals {{ 1+2 }} </p>
  <!-- () is one way binding from the event to the method -->
  <!-- [] is one way binding from the model to the tag property -->
  <button [hidden]='hiddenFlag' (click)='doAgree()' >Agree</button>
  <hr/>
  <!-- two-way binding for form fields to and from models -->
  <input [(ngModel)]='username' placeholder="what is your name" /><br/>
  <h3>Welcome {{username}}</h3>

  <app-about></app-about>
  <hr/>
  <app-info></app-info>

</article>